* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

.redborder {
  border: red solid 3px;
}

.greenborder {
  border: green solid 5px;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}
.cursorPointer{
  cursor: pointer;
}


@media(max-width:800px) {
  :root {
    font-size: 14px;
  }
}
@media(max-width:500px) {
  :root {
    font-size: 12px;
  }
}

